.sidebarContainer{
    width: 8%;
    background: rgb(34,34,34);
    height: 500px;
    margin-top: -2% ;
}

.sidebarContainer ul{
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.sidebarContainer ul li{
    padding: 10px 20px;

}

